
 <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
 
@model IEnumerable<MqttClientModel>
<nav class="sb-sidenav accordion sb-sidenav-light">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Right Side</div>
            <div class="card mb-4">

                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fas fa-table me-1"></i>
                        Client Details
                    </div>
                    <a class="nav-link d-flex align-items-center" href="@Url.Action("Index", "MqttClient")">
                        <div class="sb-nav-link-icon me-1"><i class="fas fa-user-plus"></i></div>
                        Register
                    </a>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>Last Accessed</th>
                            <th>Status</th>
                            <th>Select</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Device Name</th>
                            <th>Last Accessed</th>
                            <th>Status</th>
                            <th>Select</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        @foreach (var client in Model)
                        {
                            <tr>
                                <td>@client.DeviceName</td>
                                <td>@client.LastAccessed.ToString("yyyy/MM/dd HH:mm")</td>
                                <td>@client.Status</td>
                                <td><input type="checkbox" name="selectedClients" value="@client.DeviceName"></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  
    @* <div class="options"> *@
    @*     <a asp-controller="MqttClient" asp-action="Register" class="option-button"> *@
    @*         <span class="material-icons-sharp"><i class="bi bi-clipboard-data"></i></span>Log *@
    @*     </a> *@
    @*     <a asp-controller="LogRequest" asp-action="Index" class="option-button"> *@
    @*         <span class="material-icons-sharp"><i class="bi bi-clipboard-data"></i></span>Log *@
    @*     </a> *@
    @*     <a asp-controller="Tpm" asp-action="Index" class="option-button"> *@
    @*         <span class="material-icons-sharp">security</span> *@
    @*         TPM *@
    @*     </a> *@
    @*     <a asp-controller="Firmware" asp-action="Index" class="option-button"> *@
    @*         <span class="material-icons-sharp">security</span> *@
    @*         Firmware *@
    @*     </a> *@
    @*     <a asp-controller="DevicePerformance" asp-action="Index" class="option-button"> *@
    @*         <span class="material-icons-sharp">monitor_heart</span> *@
    @*         Device Performance *@
    @*     </a> *@
    @* </div> *@
   
</nav>

<script>
    document.addEventListener('DOMContentLoaded', event => {
        const datatablesSimple = document.getElementById('datatablesSimple');
        if (datatablesSimple) {
            new simpleDatatables.DataTable(datatablesSimple);
        }
    });
</script>

