@model LogModel
 
<div class="card-body border p-4">
    <div>
        <h2>LogRequest</h2>
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label for="TargetId">Target Id</label>
                <input id="TargetId" name="LogRequestModel.LogRequestDto.TargetId" class="form-control" />
            </div>
             @* <div class="form-group ">  *@
             @*            <input asp-for="LogRequestModel.LogRequestDto.TargetId" class="form-control border shadow"/> *@
             @*            <label asp-for="LogRequestModel.LogRequestDto.TargetId" class="ms-2"></label> *@
             @*            <span asp-validation-for="LogRequestModel.LogRequestDto.TargetId" class="text-danger"></span> *@
             @* </div> *@
             @* *@
            <div class="row">
                <div class="col-md-6">
                    <label for="LogTypes">Log Types</label>
                    <div id="LogTypes">
                        @foreach (var logType in Enum.GetValues(typeof(LogType)))
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@logType" id="LogTypes_@logType" name="LogRequestModel.LogRequestDto.LogTypes" />
                                <label class="form-check-label" for="LogTypes_@logType">@logType</label>
                            </div>
                        }
                    </div>
        
                </div>
                <div class="col-md-6">
                    <label for="LogLevels">Log Levels</label>
                    <div id="LogLevels">
                        @foreach (var logLevel in Enum.GetValues(typeof(LogLevel)))
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@logLevel" id="LogLevels_@logLevel" name="LogRequestModel.LogRequestDto.LogLevels" />
                                <label class="form-check-label" for="LogLevels_@logLevel">@logLevel</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        
            <div class="form-group form-check">
                <label for="IsAckRequired">Is Acknowledgment Required</label>
                <input id="IsAckRequired" name="LogRequestModel.LogRequestDto.IsAckRequired" type="checkbox" class="form-check-input" />
            </div>
        
            <div class="form-group">
                <label for="ActionType">Action Type</label>
                <select id="ActionType" name="LogRequestModel.LogRequestDto.ActionType" class="form-control">
                    @foreach (var actionType in Enum.GetValues(typeof(ActionType)))
                    {
                        <option value="@actionType">@actionType</option>
                    }
                </select>
            </div>
        
            <div class="form-group">
                <label for="ResponseType">Response Type</label>
                <select id="ResponseType" name="LogRequestModel.LogRequestDto.ResponseType" class="form-control">
                    @foreach (var responseType in Enum.GetValues(typeof(ResponseType)))
                    {
                        <option value="@responseType">@responseType</option>
                    }
                </select>
            </div>
        
            <div class="form-group">
                <label for="FromDate">From Date</label>
                <input id="FromDate" name="LogRequestModel.LogRequestDto.FromDate" type="datetime-local" class="form-control" />
            </div>
        
            <div class="form-group">
                <label for="EndDate">End Date</label>
                <input id="EndDate" name="LogRequestModel.LogRequestDto.EndDate" type="datetime-local" class="form-control" />
            </div>
        
            <button type="submit" class="btn btn-primary">Send Log Request</button>
        </form>
    </div>
    <div>
        <h2>Subscribe to Topic</h2>
        <form asp-action="Subscribe" method="post" class="row">
            <div class="p-3">
                <div class="form-floating py-1 col-12">
                    <input name="topic" class="form-control border shadow" placeholder="Enter topic to subscribe" />
                    <label for="topic" class="ms-2">Topic</label>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="bi bi-check-circle"></i> Subscribe
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="log-response-container">
        @await Html.PartialAsync("_LogResponse",Model.LogResponseModel)
    </div>
</div>
 
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function fetchMessages() {
                $.get('@Url.Action("GetMessagesPartial", "LogRequest")', function (data) {
                    $('#log-response-container').html(data);
                });
            }
 
            setInterval(fetchMessages, 5000); // Fetch new messages every 5 seconds
             $('input[name="selectedClients"]').change(function() {
                        if ($(this).is(':checked')) {
                            var deviceName = $(this).val(); // Get the device name
                            $('#TargetId').val(deviceName); // Update the TargetId input field
                        }
                    });
        });
</script>
}